@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    Background
----------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    position: sticky;
}
#hero {
    top: -250px;
    background-size: auto;
    height: 1vh;
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    position: relative;
    white-space: nowrap;
    width: 51.5%; 
    margin: 250px;
    padding: 500px;
    left: -15px;
    list-style: none;
  }
  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: sticky;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #hero .hero-container {
    position: fixed;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 0px;
    color: #fff;
    position: initial;
    animation: caret 1s steps(1) infinite;
  }
  #hero h2 {
    margin: -100px 50px 30px 0;
    font-size: 64px;
    font-weight: 500;
    line-height: 56px;
    color: #fff;
  }
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;

  }
  
  /* #hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
    
  } */
  @media (max-width: 1199px) {
    #header {
      left: -300px;
    }
  
    #main {
      margin-left: 0;

    }
  
    .container,
    .container-fluid {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

/* ---------------------------------------------------
    Headshot
----------------------------------------------------- */
.rounded-circle {
    border-radius: 50%!important;
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

}

#sidebar {
    min-width: 250px;
    background: #1a1b22;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;

}

#sidebar h3{
    margin-left: 17%;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1a1b22;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1a1b22;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1a1b22;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1a1b22;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1a1b22;
}

a.article,
a.article:hover {
    background: #1a1b22 !important;
    color: #fff !important;
}

#main {
    margin-left: 300px;

  }
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Icons
----------------------------------------------------- */

.socials-buttons{
    padding: 15px;
    margin-left: 25%;
}

.socials-buttons span{
    padding-left: 10%;
}

/* ---------------------------------------------------
    About
----------------------------------------------------- */

.about h3 {
    font-weight: 400;
    font-size: 50px;
    color: #03142b;
    }

.about .content ul {
    list-style: none;
    padding: 0;
    }

.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    }

.about .content ul strong {
    margin-right: 10px;
    }

.about .content ul i {
    font-size: 50px;
    margin-right: 55px;
    color: #149ddd;
    line-height: 0;
    }
  
.about .content p:last-child {
    margin-bottom: 0;
} 

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    overflow: hidden;
    margin-top: -510px;
}
  
.section-bg {
    background: #f5f8fd;
  }
  
.section-title {
    padding-bottom: -33px;
  }

.section-title h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
    line-height: 1;
  }
  
.section-title h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    /* bottom: 0; */
    left: 0;
  }

.section-title p {
    margin-top: 0;
  }

/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/

.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 58px);
    border-top: 2px solid #404247;
    float: left;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline:before{
    content: "";
    background: #404247;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}
.main-timeline .timeline-content{
    color: #404247;
    text-align: center;
    padding: 15px 80px 15px 10px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: "";
    background: #00a6f9;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50px;
}
.main-timeline .timeline-year{
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -15px;
}
.main-timeline .title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}
.main-timeline .description{
    font-size: 16px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: right; }
.main-timeline .timeline:nth-child(even):before{
    right: auto;
    left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 15px 10px 15px 80px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    right: auto;
    left: 51px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    right: auto;
    left: -15px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background: #ff3e7c; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background: #7438be; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background: #bdc203; }
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}

/*--------------------------------------------------------------
# FlipCard
--------------------------------------------------------------*/

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    /*border: 1px solid #f1f1f1;*/
    border: none;
    perspective: 1000px; /* 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(250, 251, 251);
    color: rgb(19, 19, 19);
    transform: rotateY(180deg);
  }

/*--------------------------------------------------------------
# Organize FlipCards
--------------------------------------------------------------*/

.column {
  float: left;
  width: 10%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*--------------------------------------------------------------
# Skills Styles
--------------------------------------------------------------*/
.center {
    width: 60%;
  }

.center h4 {
    font-size: 20px;
    font-weight: bold;

    position: relative;
    color: #4b0101;
    line-height: 1;
  }
  
.center h4::after {
    content: "";
    position: sticky;
    display: block;
    width: 80px;
    height: 3px;
    background: #c40f02;
    bottom: 0;
    left: 225px;
  }
